<launch>
  <param name="/use_sim_time" value="true" />
  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find multi_robot)/worlds/dut.world" respawn="true" output="screen" />
<!-- start gui -->
<!--   <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> 
-->
  <!-- include our robots --><!--
  -->
  <!--<node pkg="programs" type="pcldata.py" name="pcl_sampler"/><node pkg="programs" type="state_pro.py" name="clusterer"/>--><!--
<include file="$(find multi_robot)/launch/robots.launch"/> -->
<!--<include file="$(find tiago_multi)/launch/multitiago_gazebo.launch"/>
-->
<!--<node pkg="programs" type="pcldata.py" name="sampler"/>
-->
<include file="$(find multi_robot)/launch/main_1.launch"/>
<node pkg="tf" type="static_transform_publisher" name="robot2" args="0.0 1.417 0.0 0 0 0 world Abase_link 100"/>
<!--
<node pkg="tf" type="static_transform_publisher" name="box_to_world" args="-0.152 0.6 0.056 0 0 3.14 world box_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="camera_to_world" args="0.42 0.63 2.21 0 0 3.14 world camera_link 100"/> -->



<!--
<node pkg="programs" type="pcldata.py" name="pcl_sampler"/>-->
<!--<node pkg="programs" type="robot_as_obstacle.py" name="robot_as_obstacle"/> -->
<!--<node pkg="programs" type="state_pro.py" name="clusterer"/>
<node pkg="programs" type="state_pro2.py" name="clusterer_robot2"/>-->
<node pkg="programs" type="camera_to_world.py" name="tf_to_camera"/>
<node pkg="programs" type="box_to_world.py" name="tf_to_box"/>
<node pkg="programs" type="box2_to_world.py" name="tf_to_box2"/>
<node pkg="programs" type="dist_to.py" name="dist_to_goal"/>






</launch>
